@charset "UTF-8";

@font-face {
   font-family: 'Barba';
   src: url('Sancreek-Regular.ttf') format('opentype');


}


body {
      height: 100vh;
      background: black url(imagens/Foto-barbearia.jpg) center center no-repeat fixed;
      background-size: cover;
}


:root {
   --cor0: #F2F2F2;
   --cor1: #403821; 
   --cor2: #F2BC79;
   --cor3: #D98841;
   --cor4: #0D0D0D;
   --azulbonito: #00ccd5;
}

   * {
   margin: 0px;
   padding: 0px;
}
#titulo {
   font-size: 5em;
   padding-bottom: 10px;
   background: linear-gradient(to right, #ffffff 10%, rgb(255, 239, 239) 50%,black 100%, #00131c 15%);
   display: inline-block;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
  
   
}

nav {
   color: white;
   padding: 10px;
   box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.199);
   text-align: left;
  
}

nav > a {
   color: white;
   padding: 10px;
   text-decoration: none;
   font-weight: 500;
   border-radius: 5px;
   transition-duration: 1s;
}

nav > a:hover{
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
}


 header {
   color: aliceblue;
   font-family: 'Barba';
   background-color: #000000;
   min-height: 200px;
   padding-top: 40px;
   background-image: linear-gradient(to bottom, white, black);
   text-align: center;
   
 }

 header > p {
   font-size: 1.2em;
 }

 main {
   color: aliceblue;
   font-family: 'Barba';
   background-image: linear-gradient(to bottom, black, white);
   margin: auto;
   max-width: 800px;
   min-width: 300px;
   padding: 20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
   margin-bottom: 30px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
 }

 h1{
    text-align: center;
 }

 p{
    text-align: center;
 }

 strong{
    color: rgb(0, 0, 0);
 }

 #Missao{
    font-size: 20px;
 }


main img {
   width: 60%;
   margin: auto;
   display: block;
}