@font-face {
   font-family: 'Barba';
   src: url('Sancreek-Regular.ttf') format('opentype');
   
}
:root {
   --cor0: #F2F2F2;
   --cor1: #403821; 
   --cor2: #F2BC79;
   --cor3: #D98841;
   --cor4: #0D0D0D;
}

 body{
    background-image: linear-gradient(to top, var(--cor3), var(--cor4));
 }

#titulo {
   margin: auto;
   padding: 81px;
   background-color: rgb(0, 0, 0);
   font-size: 5em;
}

nav {
   background-color: #000000;
}

nav > a{
   text-decoration: none;
   padding: 0px 138px;
   margin: auto;
}

 header {
   color: aliceblue;
   font-family: 'Barba';
   background-color: #0D0D0D;
   margin: 0px 60px;
   height: 300px;
 }

 main {
   color: aliceblue;
   font-family: 'Barba';
   background-color: #0D0D0D;
   margin: 0px 60px;
 }

 h1{
    text-align: center;
 }

 p{
    text-align: center;
 }

 strong{
    color: red;
 }

 #Missao{
    font-size: 20px;
 }

 img{
    width: 700px;
    height: 500px;
    margin: auto;
    display: block;
 }